/*---------------------------------*\
|                                   |
|           Theme Colours           |
|                                   |
\*---------------------------------*/
:root {
    --header-background-col: rgba(37, 27, 22, 0.5);
    --restaurant-name-col: rgb(241, 226, 209);
    --tablink-background-col: rgba(37, 27, 22, 0.8);
    --tablink-hover-col: rgba(241, 226, 209, 0.5);
    --tablink-active-col: rgba(185,151,110, 0.9);
    --tablink-font-col: white;
    --about-and-menu-text-col: rgb(241, 226, 209);
    --about-and-menu-background-col: rgba(37, 27, 22, 0.5);
}

/*---------------------------------*\
|                                   |
|           Custom  Fonts           |
|                                   |
\*---------------------------------*/
@font-face {
    font-family: 'RedVelvet';
    src: url('./assets/fonts/red_velvet_-_demo-webfont.woff2') format('woff2'),
        url('./assets/fonts/red_velvet_-_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NexaRustSansBlack';
    src: url('./assets/fonts/nexarustsans-black-webfont.woff2') format('woff2'),
        url('./assets/fonts/nexarustsans-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*---------------------------------*\
|                                   |
|        Multi-section Styles       |
|                                   |
\*---------------------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--font-col);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: grid;
    grid-template-rows: max-content 1fr;
    height: 100%;
    width: 100%;
    background-image: url('./assets/img/anastasiia-chepinska-lcfH0p6emhw-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;

    /* Used to add an opaque black color over the background image  */
    box-shadow: inset 0 0 0 1000px rgba(0, 0 , 0, 0.3);
}

/*---------------------------------*\
|                                   |
|           Header Styles           |
|                                   |
\*---------------------------------*/
header {
    display: flex;
    background-color: var(--header-background-col);
}

.box {
    flex: 1;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.box:nth-of-type(1), .box:nth-of-type(3) {
    padding: 10px;
}

.box:nth-of-type(2) {
    justify-content: center;
    align-items: end;
}

#header-coffee-logo {
    height: 50px;
    width: 50px;
}

/* Nav bar styling */
nav {
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
}
.tablink {
    cursor: pointer;
    float: left;
    background-color: var(--tablink-background-col);
    color: var(--tablink-font-col);
    border: none;
    outline: none;
    padding: 10px 20px;
    height: 100%;
    flex: 1;
    font-size: 20px;
    font-family: 'NexaRustSansBlack', Helvetica, sans-serif;
    font-weight: 300;
}

.tablink:hover {
    background-color: var(--tablink-hover-col);
}

/*---------------------------------*\
|                                   |
|          Content  Styles          |
|                                   |
\*---------------------------------*/
#content, .body-logo, .about, .menu, article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content {
    padding: 50px;
}

#body-coffee-logo {
    height: 300px;
    width: 300px;
}

.body-logo > h1, .body-logo > h2 {
    color: var(--restaurant-name-col);
}

.body-logo > h1 {
    font-family: 'NexaRustSansBlack', Helvetica, sans-serif;
    font-size: 72px;
}

.body-logo > h2 {
    font-family: 'RedVelvet', Helvetica, sans-serif;
    font-size: 36px;
}

article {
    gap: 10px;
}

.about, .menu {
    color: var(--about-and-menu-text-col);
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    background-color: var(--about-and-menu-background-col);
    padding: 50px;
    gap: 20px;
}

.about h1, .menu h1 {
    font-family: 'NexaRustSansBlack', Helvetica, sans-serif;
    font-size: 50px;
}

.about article h2, .menu article h2 {
    font-family: 'NexaRustSansBlack', Helvetica, sans-serif;
    font-size: 36px;
}

.menu article div h3 {
    font-family: 'NexaRustSansBlack', Helvetica, sans-serif;
    font-size: 20px;
}

article p {
    max-inline-size: 66ch;
    line-height: 1.5em;
}

.about hr {
    width: 100%
}

table {
    border-collapse: separate;
    letter-spacing: 1px;
    border-spacing: 20px 5px;
}

td {
    text-align: start;
}

#drinks, #food {
    display: grid;
    gap: 20px 40px;
}

#drinks {
    grid-template: repeat(5, max-content) / repeat(2, 1fr);
}

#food {
    grid-template: repeat(5, max-content) / repeat(2, 1fr);
}

#menuDrinkTitle, #menuFoodTitle {
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
    justify-content: center;
}

.drinks p, .food p {
    max-inline-size: 40ch;
}

#menuImg {
    height: 250px;
    width: 375px;
}